{%extends 'base.html'%}

{%load static%}

{%block content%}

    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="text-center"><span class="text-uppercase">{{request.user.username}}'s </span> Booth</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="text-center text-danger">Your vote is your power</h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
                {%for candidate in candidates%}
                <div class="col-md-9 my-4 d-flex justify-content-between text-center border border-dark rounded p-5">
                    <div>
                        {%if candidate.image%}
                            <img src="{{candidate.image.url}}" width="150" height="150" class="rounded-circle">
                        {%else%}
                            <img src="{%static 'images/vote.svg'%}" width="150" height="150" class="rounded-circle">
                        {%endif%}
                    </div>
                    <div class="">
                        <h3>{{candidate.name}}</h3>
                        <p>{{candidate.party}}</p>
                    </div>
                    <div>
                        <a href="{%url 'vote' candidate.id%}" class="btn btn-primary">Vote</a>
                    </div>
                </div>
                {%endfor%}
        </div>
    </div>

{%endblock%}