{%extends 'base.html'%}

{%load static%}

{%block content%}
<div class="container-fluid">
    <div class="row wallpaper">
        <div class="d-flex justify-content-center flex-column align-items-start" style="padding:0 10rem ;">
            <h1 style="font-size: 2rem;">No need for long queues</h1>
            <span style="font-weight: 600; font-size: 4rem;">We are the solution</span>
            <p style="max-width: 500px;">Revolutionize democracy with our secure, efficient, and customizable online
                voting system for
                tamper-proof results and tailored options.</p>
            <a href="{%url 'home'%}" class="btn btn-lg btn-outline-light text-uppercase py-3 mt-3">Test Project</a>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row text-center my-5 pt-5">
        <div class="col-md-4">
            <img src="{%static 'images/security.png'%}" alt="" width="100" class="mb-2">
            <p style="font-weight: 500; font-size: 1.3rem;">Security</p>
            <p class="text-muted">The voting system is secured and protect against fraud, tampering, and unauthorized
                access,
                ensuring that only eligible voters can cast their votes and that the integrity of the election is
                maintained</p>
        </div>
        <div class="col-md-4">
            <img src="{%static 'images/bull.png'%}" alt="" width="100" class="mb-2">
            <p style="font-weight: 500; font-size: 1.3rem;">Accuracy</p>
            <p class="text-muted">The voting system accurately captures and count votes without errors or biases,
                ensuring that each
                vote is counted and recorded correctly.</p>
        </div>
        <div class="col-md-4">
            <img src="{%static 'images/user.png'%}" alt="" width="100" class="mb-2">
            <p style="font-weight: 500; font-size: 1.3rem;">User Experience</p>
            <p class="text-muted">The voting system was designed to be accessible, inclusive, and secure, providing
                multiple options for
                casting votes and features such as easy-to-use voting machines and alternative voting methods.</p>
        </div>
    </div>
</div>

<div class="container-fluid my-5 py-4" style="background-color: #f5f6fa">
    <div class="row my-5 py-4">
        <div class="col-lg-6">
            <img src="{%static 'images/1.jpg'%}">
            <img src="{%static 'images/2.jpg'%}" width="320">
        </div>
        <div class="col-lg-6 d-flex align-items-center flex-column justify-content-center">
        <h1 class="text-center pb-2">Story Time</h1>
            <p class="text-center" style="font-size: 1.1rem;">The inspiration for creating the voting system came from the recognition that the
                traditional voting process was outdated and excluded many eligible voters, and the desire to innovate
                and design a system that was more inclusive, accessible, and secure, using cutting-edge technologies and
                modern design principles to make voting easier, more convenient, and more democratic than ever before.
            </p>
        </div>
    </div>
</div>
{%endblock%}