body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing:1px;
}

h1 {
    font-family: 'Labrada', serif;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

.navigation:hover {
    border-bottom: 1px solid #000;
}


label {
    font-size: 15px;
}

footer p {
    font-weight:500;
}


.wallpaper {
    position: relative;
    color: #fff;
    height:80vh;
}

.wallpaper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/pexels-sora-shimazaki-5926267.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure that the pseudo-element is positioned behind the content */
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Set a semi-transparent black background color */
    background-blend-mode: darken; /* Darken the background image while keeping the text visible */
}
