{%extends 'base.html'%}

{%block content%}
<div class="container-fluid d-flex justify-content-center align-items-center text-center flex-column"
    style="width: 100vw; height: 100vh; background-color:#273c75">
    <div class="row mb-3">
        <h2 class="text-light">Ballot Box</h2>
    </div>
    <div class="row">
        <div class="col" style="background-color:#c8d6e5; padding:10px 40px;">
            <h1 class="text-uppercase">Sign In</h1>

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success message" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}

            
            <form method="POST">
                {%csrf_token%}

                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success message" role="alert">{{ message }}</div>
                        {% endfor %}
                {% endif %}

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" name="username" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>

                <div class="mb-3">
                    {{form.errors}}
                </div>

                <button type="submit" class="btn btn-primary">Log In</button>

                <div class="mt-3">
                    <a href="{%url 'register'%}" class="link-dark text-decoration-none">Don't have an account? <span
                            class="text-primary">click here</span></a>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}