{%extends 'base.html'%}

{%load static%}

{%block content%}
    <div class="container py-5">

        <div class="row" style="margin-top: 6rem;">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {%if profile.profile_pic%}
                        <img src="{{profile.profile_pic.url}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        {%else%}
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        {%endif%}
                        <h5 class="my-3">{{profile.user.first_name}} {{profile.user.last_name}}</h5>
                        <p class="text-dark mb-1">{{profile.user.username}}</p>
                        {%for group in group_names%}
                        <p class="text-uppercase mb-4">{{group}}</p>
                        {%endfor%}
                        <div class="d-flex justify-content-center mb-2">
                            <!-- <button type="button" class="btn btn-primary">Follow</button> -->
                            <a href="{%url 'verify'%}" class="btn btn-outline-primary ms-1">Complete Registration</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.user.first_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.user.last_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.user.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.phonenumber}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Age</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.age}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.location}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}