{%load static%}


<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="margin: 0 50px;">
    <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{%static 'images/box.svg'%}" width="60" class="mx-3">
        <span class="fs-4">Ballot Box</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link link-dark">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark">About</a></li>
    </ul>
</header>